<h3 id="dit4c">DIT4C</h3>
<p>
    For the Open Refine, besides instaling in your own computer, you can use a platform called DIT4C (Data Intensive Tools for the Cloud)
    <br/>
    <br/>
    To use DIT4C, you will need to have any of these 3 account.

    <ul>
        <li>
            Australia Access Federation (AAF) account. If you have a *.edu.au from an Australian Universities you usually have it
        </li>
        <li>
            Github account. Github is a version control + code sharing site that is widely used for the open source community. You can make an account by going <a href="http://github.com">http://github.com</a>
        </li>
    <li>
        Twitter account. Twitter is a social media site where you can post your short thoughts. You can make an account by going <a href="http://twitter.com">http://twitter.com</a>
    </li>

    </ul>

After you have either one of AAF, Github, and twitter account, then you can access DIT4C. <br/><br/>

<ul>
    <li>Access DIT4C by accessing <a href="http://resbaz.cloud.edu.au">http://resbaz.cloud.edu.au</a>
    </li>
    <li>
        Login to DIT4C using either one of your account
    </li>
    <li>
        The main process you will use while working in the DIT4C is that you will "claim" a computer node and then you will start a "container" that has your program you want to run inside in the computer node.
    </li>
    <li>
        Click on the computer-node tab in the upper left
    </li>
    <li>
        To claim a compute node, you will be given a "share code" that you can input to claim a compute node. Each compute node will have its own share code. The share will be given to you during the workshop.
    </li>
    <li>
        Click on the claim computer-node access in the upper left
    </li>
    <li>
        Select the compute node according to the share code you have been given and click claim. The compute node name should between res resbaz-mel-openrefine-1/2/3
    </li>
    <li>
        After you claim a compute node, then you will have to start the container inside the computer node that you have claimed
    </li>
    <li>
        Click on the add container in the upper right
    </li>
    <li>
        Select the compute node that you just claimed (resbaz-mel-openrefine-1/2/3).
    </li>
    <li>
        Select the image "Open Refine"
    </li>
    <li>
        Give the container an unique name
    </li>
    <li>
        Click on start to get the container start
    </li>
    <li>
        You will see that the container will be shown on the list. Click on the name of your container to open the container window.
    </li>
    <li>
        You will see a blue background with Open Refine logo. Click on the Open Refine logo to start Open Refine
    </li>
    <li>
        Congratulations ! You have run open refine in the DIT4C !
    </li>

</ul>



