<h3 id="mac">Mac</h3>
<p>
Please go through all the installation steps below and make sure that 
you not only installed them, but start them up to make sure they're working. 
If you have any problems, don't hesitate to email the instructors to 
ask for help, or arrive early on the first day of the workshop to 
get help.

<div class="row-fluid">
<ol>

<p>
<li><b>A web browser</b>
    <br>For this workshop you will need to have a web browser. Many people already have
    Microsoft Edge / Internet explorer but for this workshop we will use Google Chrome as our web browser
    <br>
    If you don't have Google Chrome, then here are the install instructions for  Google Chrome :
    <ul>
        <li><b>Download the Installer</b>
            <br>Install  Google Chrome by going to the <a href=https://www.google.com/intl/en/chrome/browser/desktop/index.html>installation page</a>.Click on download to download the installer.
        <li><b>Install  Google Chrome </b>
            <br>Once the installer is downloaded, double click on it and it should install.
        <li>To use Google Chrome, double click on the icon and it will open.
    </ul>

</p>

<p>
<li><b>A spreadsheet program</b>
<br>For this workshop you will need a spreadsheet program. Many people already have 
Microsoft Excel installed, and if you do, you're set! 
<br>
If you need a spreadsheet 
program, there are a few other options, like OpenOffice and LibreOffice. Install 
instructions for LibreOffice, which is free and open source, are here.
       <ul>
          <li><b>Download the Installer</b>
        <br>Install LibreOffice by going to the <a href=https://www.libreoffice.org/download/libreoffice-fresh/>installation page</a>. The version for Mac 
should automatically be selected. Click <b>Download Version 5.0.4</b>. You
will go to a page that asks about a donation, but you don't need to make one.
Your download should begin automatically. 
          <li><b>Install LibreOffice</b>
            <br>Once the installer is downloaded, double click on it and it should install.
<li>To use LibreOffice, double click on the icon and it will open.
</ul>

<p>

<li><b>OpenRefine</b>
<br>OpenRefine (previously Google Refine) is a tool for data cleaning 
that runs through a web browser, and any browser -
Safari, Firefox, Chrome, Explorer - should work fine. 
You will need to download Google Refine and install it, 
and when you open it, it will run through the browser, but you don't need
an internet connection, and the data will all be stored on your computer.
    <ul>
        <li><b>Install Java</b></li>
        <li>To use OpenRefine you will need to have a JDK installed. Go to <a href="http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html">Java Download Page</a>.
        <li>Click on the mac version to download the install file</li>
        <li>Once downloaded, double click on the installer to install</li>
    </ul>

<p></p>

<ul>
    <li><b>Install Open Refine</b></li>
    <li>Go to the OpenRefine <a href="https://github.com/OpenRefine/OpenRefine/releases">Github download
        page</a>
    <li>Click on <i>openrefine-linux-2.6-rc.2.dmg</i> to download the install file
<li>Open the downloaded .dmg file
<li>Drag the icon in to the Applications folder
<li>Double click on the icon and OpenRefine Refine will then open in your web browser.
<li>If it doesn't open automatically, open a web browser after you've started the program and go to the URL <code>http://localhost:3333</code> and you should see OpenRefine.
</ul>

<p>

</ol>

</div>

 
