<h3 id="web">Web</h3>
<p>
    Besides the programs that need to be installed, we will use two web based programs, that is Google Forms and Kobo Toolbox.
    Both of the programs need you to make an account first before you can use them.
    Please go through the instructions below to make sure you have account on both programs and try logging in to both of them.

    If you have any problems, don't hesitate to email the instructors to
    ask for help, or arrive early on the first day of the workshop to
    get help.

    <div class="row-fluid">
        <ol>

<p>
<li><b>Google Forms</b>
    <br>We will use Google Forms to do our web survey data collection<br>
    Google Forms need to have google account. If you don't have a Google account, then here are the instructions to create one :
    <ul>
        <li>Go to <a href="https://accounts.google.com/signUp">Google account sign up page</a></li>
        <li>Fill the form and get your Google account.</li>
    </ul>

</p>

<p>
    <li><b>Kobo Toolbox</b>
        <br>We will use Kobo Toolbox to do our mobile data collection<br>
        You will need to have an account in the Kobo Toolbox website. If you don't have an account, then here are the instructions to create one :
        <ul>
            <li>Go to <a href="https://kf.kobotoolbox.org/accounts/register/">Kobo Toolbox public account sign up page</a></li>
            <li>Fill the form and get your Kobo Toolbox account account.</li>
        </ul>

        <br>
        <b>Kobo Toolbox Mobile App</b>
        <br>Kobo Toolbox need a program in your mobile device in order for it to function fully.

        <ul>
            <li><b>Android</b></li>
            <li>You will need to install Kobo Collect</li>
            <li>Go to the <a href="https://play.google.com/store/apps/details?id=org.koboc.collect.android&hl=en">
                Kobo Collect Google Play store
            </a>  to download it.</li>

            <br/>

            <li><b>iOS</b></li>
            <li>You will need to install the Puffin Browswer </li>
            <li>Go to the <a href="https://itunes.apple.com/au/app/puffin-web-browser/id472937654?mt=8">
                Puffin browser in iOS App Store
            </a>  to download it.</li>

        </ul>



    </div>


